---
name: Go

on:
  push:
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.0

      - name: Run all test
        run: go test -count=1 -race ./...

  # Check actuality of go.mod and go.sum
  #
  # See https://xorcare.ru/s/8dd13
  check-go-modules:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.0

      - name: Check actuality of go.mod and go.sum
        run: |
          go mod tidy
          git diff --exit-code && exit 0 || true
          echo '######################################################################'
          echo
          echo "ERROR: go.mod or go.sum is different from the committed version"
          echo "Try using 'go mod tidy' to fix the go.mod and go.sum files"
          echo "Also, don't forget to commit and push changes"
          echo
          echo '######################################################################'
          exit 1

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23.0
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.62.2
